measurements.txt
target*/
*/CalculateAverage_baseline.class
*/CalculateAverage_baseline$Measurement.class
*/CalculateAverage_baseline$ResultRow.class
*/CalculateAverage_baseline$MeasurementAggregator.class
